<ng-container *ngIf="quizDetailsStream | async"></ng-container>
<div class="container mt-4">
  <h2 class="mb-3">Quiz Details</h2>
  <table class="table table-bordered table-hover table-striped">
    <thead class="table-primary">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
        <th>Created By</th>
        <th>Question Published</th>
        <th>Time Limit</th>
        <th>Randomize Question</th>
        <th>Max Attempts</th>
        <th>Full Marks</th>
        <th>Question List</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quiz of quizDetailsList; let i = index" [ngClass]="i % 2 === 0 ? 'light-grey-row' : 'dark-grey-row'">
        <td>{{ quiz.id }}</td>
        <td>{{ quiz.title }}</td>
        <td>{{ quiz.description }}</td>
        <td>{{ quiz.category }}</td>
        <td>{{ quiz.createdBy }}</td>
        <td>{{ quiz.questionPublished ? 'Yes' : 'No' }}</td>
        <td>{{ quiz.timeLimit }}</td>
        <td>{{ quiz.randomizeQuestion ? 'Yes' : 'No' }}</td>
        <td>{{ quiz.maxAttempts }}</td>
        <td>{{ quiz.fullMarks }}</td>
        <!-- <td>
          <ul class="mb-0">
            <li *ngFor="let question of quiz.questionList">{{ question.text }}</li>
          </ul>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>

